.container-customers-scroller {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* set the height of the container */
    width: 100%; /* set the width of the container */
    flex: 1;
}

.card {
    margin: auto; /* center the card horizontally */
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}